:root {
    --text-color: #490206; /* https://encycolorpedia.com/490206 */
}

html {
    font-size: 24px;
    line-height: 1.4;
}
h1 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
}
body {
    counter-reset: toc;
}

p {
    margin-bottom: 1rem;
}
ol li {
    margin: 0 0.125rem 0;
}
ol li::before {
    counter-increment: toc;
    content: counter(toc) ".";
    font-size: 1.25rem;
    margin-right: 1.5rem;
    padding: 0;
}

/*ol.numbered-list li::before {*/
/*    counter-increment: toc;*/
/*    content: counter(toc);*/
/*    !*margin-left: 0.5rem;*!*/
/*    margin-right: 1rem;*/
/*    border: 2px solid var(--text-color);*/
/*    padding: 0 0.6rem 0.25rem;*/
/*    border-radius: 50%;*/
/*}*/
