---
import "../styles/tailwind.css"
import "../styles/global.css"

import List from "../components/List.astro";
import Base from "../layouts/Base.astro";

import { getCollection } from "astro:content";
import "@fontsource-variable/google-sans-code";
import formatDate from "../utils/format-date";
import {dev} from "astro";

const devLogs = await getCollection('devLogs');
---

<!doctype html>
<Base>
	<div class="grid grid-cols-1 gap-4">
		<div class="grid gap-4 md:grid-cols-1 lg:grid-cols-2">
			<section>
				<div class="mb-4">
					<h1 class="uppercase text-sm font-semibold tracking-wide">Notes</h1>
					<p class="text-xs italic">Notes on various topics</p>
				</div>
				<List collection="blog"/>
			</section>
			<section>
				<div class="mb-4">
					<h1 class="uppercase text-sm font-semibold tracking-wide">Essays</h1>
					<p class="text-xs italic">Longer articles</p>
				</div>
				<List collection="essays"/>
			</section>
		</div>
		<div id="dev-logs-list">
			<div class="mb-4">
				<h1 class="uppercase text-sm tracking-wide" style="font-weight: 450">Dev Logs</h1>
				<p class="text-xs italic font-light">Tinkering with software</p>
			</div>
			<ul>
				{ devLogs[0].data && devLogs[0].data
					.sort((a, b) => b.date - a.date)
					.map((log) => {
							return <li class="px-2 mb-2">
								<span class="text-xs">{formatDate(log.date)}:</span>
								<span class="text-xs col-2">{log.note}</span>
							</li>
						})
				}
			</ul>
		</div>
	</div>
</Base>

<style lang="sass">

#dev-logs-list
	font-family: 'Google Sans Code Variable', monospace
</style>