---
import '@fontsource/cormorant-infant';
---

<header class="p-4">
    <p class="text-4xl">
        <a href="/">Gulshan</a>
    </p>
    <nav>
        <ul>
            <li>
                <a href="/"></a>
            </li>
        </ul>
    </nav>
</header>

<style lang="sass">
    header
      p
        font-family: 'Cormorant Infant', serif
</style>