---
import "../styles/global.css"
import "../styles/tailwind.css"

import Header from "../components/Header.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <Header />
            <main class="md:m-4 md:p-4 lg:m-8 lg:p-8">
                <slot />
            </main>
    </body>
</html>
